
*{
    text-align: center;
    background-image: url(assets/tic-tac-toe.png);
    font-size: 38px;
    color: #ff6363;
    font-family: 'Chewy', cursive;
}

#page {
    background-image: none;
}

.wrapper{
    background-image: none;
    display: grid;
    justify-items: center;
    row-gap: 20px;
    margin: 40px;
}

.score{
    background-image: none;
}

.header{
    font-family: 'Vollkorn', serif;
    background-image: none;
    font-size: 42px;
    color : #543864
}

.gameArea{
    background-image: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50vw;
    height: 50vw;
    max-width: 700px;
    max-height: 700px;
    min-width: 200px;
    min-height: 200px;
    border: #202040 2px solid;
    border-radius: 8px;

}

.cell{
    background-image: none;
    border : 2px solid #543864;
    background-color: white;
}


.win{
    background-color: #ffbd69; 
}

.X{
    background-image: url(assets/cross.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 50%;
}


.O{
    background-image: url(assets/circle.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 50%;

}

.button{
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: none;
    padding: 20px;
    border-radius: 8px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #ff6363;
    color: #FFFFFF
}

.restart{
    background-color: #ffbd69;
}